    <!-- Modal -->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Edit
      </button>

      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update member</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
              <div class="submit-form">
                <div *ngIf="currentMember.id">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" required  [(ngModel)]="currentMember.username"
                     name="username"/>
                  </div>
            
                  <div class="form-group">
                    <label for="email">email</label>
                    <input class="form-control" id="email" required [(ngModel)]="currentMember.email" name="email" />
                  </div>
            
                </div>
    
                <div >
                  <button class="btn btn-secondary" (click)="updateMember(member)" data-bs-dismiss="modal">Save</button>
                </div> 
    
              </div>
            </div>
    
          </div>
        </div>
      </div>
      
        