tbody td {
    cursor: pointer;
}
table,
table th,
table tr {
    background-color: white !important;
}

.btn-danger{
    background: #F35162;
}

.btn-primary{
    background: #322A7D;
}

.btn-outline-danger{
    border: #F35162 1px solid;
    color: #F35162;
}

.btn-outline-danger:hover{
    background: #F35162;
    color: #fff;
}