<span class="text-danger">
  <% if(typeof errors!= 'undefined') { %>
    <%    errors.forEach(function(error){ %>
    <p> <%= error.msg %></p>
    <%    })        %>
  <% } %>
</span> 


<span class="text-success">
  <% if(success_msg!= '') { %>
    <p><%=success_msg %> </p>
  <% } %>
</span> 

<span class="text-danger">
  <% if(error_msg != '') { %>
    <%= error_msg %> 
  <% } %> 
  <% if(error != '') { %>
    <%= error %>
  <% } %>
</span> 