<app-navbar></app-navbar>
<div class="container text-center" *ngIf="currentUser; else loggedOut">
  <div class="card m-3">
    <div class="card-header">
      <h3>
        <strong>{{ currentUser.username }}</strong>
      </h3>
    </div>
    <div class="card-body">
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Roles:</strong>
      <ul *ngFor="let role of currentUser.roles">
        <li >
          {{ role }}
        </li>
      </ul>
    </div>
    
  </div>
  </div>
    
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>