<div class="container">
  <div class="page-wrapper chiller-theme toggled">
  <nav class="fixed main-menu">
    <div>
       <a class="logo" routerLink="/home">
        <!-- <img src="../../../assets/img/FAV-icon-blue.svg"/> -->
        <span class="nav-text">My App</span>
       </a> 
     </div> 
   
   <ul>
         
   <li class="profile">
     <a routerLink="/profile">
     <img class="avatar img-responsive img-rounded" src="https://thumbs.dreamstime.com/b/happy-smiling-geek-hipster-beard-man-cool-avatar-geek-man-avatar-104871313.jpg" alt="User picture">
    <span class="nav-text">{{currentUser.username}}</span>
    </a>
    </li>  
  
   <li>                                   
   <a class="link" routerLink="/home">
   <i class="fa fa-home fa-lg"></i>
   <span class="nav-text">Dashboard</span>
   </a>
   </li>
       
   <li>                                 
   <a class="link" routerLink="/user">
   <i class="fa fa-users fa-lg"></i>
   <span class="nav-text">Members</span>
   </a>
   </li>   
   
     
   <li class="darkerli">
    <a class="link">
    <i class="fa fa-sign-out text-danger"></i>
    <span class="nav-text" (click)="logout()">Log Out</span>
    </a>
    </li>
  
     
   </ul>
   </nav>
  
   <main class="page-content">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        <app-add-member></app-add-member>
        <app-members-list></app-members-list>
        </div>
    </div>
  
  </main>
  </div>
  </div>