@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.main-menu .logo {
  position: relative;
  display: block;
  width: 250px;
  border-bottom: 1px solid #fff;
  height: 50px;
  color: #fff;
  text-decoration: none;
}

ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.fa-lg {
font-size: 1em;
  
}
.fa{
position: relative;
display: table-cell;
width: 55px;
height: 36px;
text-align: center;
top:12px; 
font-size:20px;
}

.avatar{
  position: relative;
  display: table-cell;
  width: 30px;
  margin: auto;
}

/* .main-menu:hover{
width:250px;
overflow:hidden;
opacity:1;
transition: .8s ease-in-out;
} */

.main-menu {
  /* backdrop-filter: blur(3px); */
background-color:#fff ;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:255px;
overflow:hidden;
opacity:1;
z-index: 2;
position: fixed;
transition: .8s ease-in-out;
}

.main-menu>ul {
margin-top:15px;

}

.main-menu li {
  position: relative;
  /* box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9; */
  display: block;
  border: none;
  outline: none;
  height: 50px;
}

.main-menu li a{
  height: 50px;
}

.main-menu li.profile {
  height: 50px;
}

.main-menu li>a {
position:relative;
width:255px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#322A7D;
font-size: 13px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
}


.main-menu .nav-text  {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.text-danger{
  color: #322A7D !important;
}

.link:hover {
  color:#fff !important;
  background-color:#322A7D;
  text-shadow: 0px 0px 0px; 
  z-index: 3;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
  
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;
}

nav ul li .profile{
  /* margin: 0 50px; */
  height: 30px;

}

/* Darker element side menu Start*/
.darkerli{
background-color:#7491cc;
/* background-color:#BBE6E4; */
text-transform:capitalize;  
}

.darkerlishadow{
background-color:#000D69;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}

.darkerlishadowdown{
background-color:#000D69;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}
/* Darker element side menu End*/
@media only screen and (max-width: 600px){

  .main-menu {

    width:55px;
    transition: .8s ease-in-out;
    }

    .main-menu:hover{
    width:250px;
    overflow:hidden;
    opacity:1;
    transition: .8s ease-in-out;
    }
 }
