.text-danger{
    color : #322A7D !important;
  }
  
  .contain {
    font-family: 'M PLUS 1', sans-serif ;
    background: #fff;
    width: 40vw;
    height: 70vh;
    margin: auto;
    margin-top: 10px;
  
  }
  
  header {
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    background: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    color: #322A7D;
  }
  
  fieldset {
    border: 0;
    text-align: center;
    padding-top: 30px;
  }
  
  .submit {
    background: #322A7D;
    border: none;
    display: block;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
    width: 70%;
  }
  
  input {
    background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: #322A7D;
    padding: 10px;
    color: #322A7D;
    width: 70%;
    margin: 20px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: 0;
    background: rgba(235, 30, 54, 0.3);
    border-radius: 1rem;
    border-color: transparent;
  }
  
  ::placeholder {
    color: #d3d3d3;
  }
  
  a{
    color: #fff;
  }
  
  /*Media queries */
  
  @media (maX-width: 800px) {
    .contain {
        width: 80vw;
        margin-bottom: 10%;
    }
  }
    @media (min-width: 569px) and (max-width: 768px) {
        .contain {
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }